.explore-section {
    background-color: #031114;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}


.explore-card{
    background: #011C24;
    box-shadow: inset 0px 0px 32px 16px rgba(99, 242, 255, 0.1);
    border-radius: 20px;
    text-align: center;
    width: 90%;
    
}

.explore-heading{
    /* Explore Our dApp */


    height: 44px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 44px;
    /* identical to box height, or 110% */

    text-align: center;
    letter-spacing: -0.8px;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.explore-description{
    /* EthAi is an AI-powered dApp designed to help traders make smarter, data-driven decisions. By tracking smart money flows, monitoring key wallets, and providing real-time market insights, EthAi empowers users to stay ahead of trends. The platform offers intuitive AI features for asset recommendations, market analysis, and personalized crypto Q&A, making it the ultimate tool for both novice and experienced traders. */


    /* qubic.org/Space Grotesk/Regular 16 */
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    /* qubic.org/French Pass 70% */
    color: rgba(176, 250, 255, 0.7);




}

.explore-btn{

    padding: 12px 24px;

    height: 44px;

    background: #CDFCFF;
    box-shadow: 0px 1px 4px rgba(55, 197, 229, 0.12), 0px 4px 6px rgba(55, 197, 229, 0.12), 0px 4px 12px rgba(55, 197, 229, 0.12), 0px 6px 20px rgba(55, 197, 229, 0.12), inset 0px -8px 16px -4px rgba(55, 197, 229, 0.6), inset 0px 0px 4px 2px rgba(255, 255, 255, 0.12), inset 0px 1px 1px #4CDDFD, inset 0px 0px 1px 1px #4CDDFD;
    border-radius: 12px;



}


@media (min-width: 768px){
    .explore-card{
        width: 50%;
        margin-top: 35px;
    }
}